# Node modules
node_modules/

# pnpm store
.pnpm-store/

# Compiled output
dist/

# Logs
logs/
*.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store


# TypeScript build cache
*.tsbuildinfo
